<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Health Watchers</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <link href="css/main.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/heroic-features.css" rel="stylesheet">

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Health Watchers</title>
        <!-- Bootstrap Core CSS -->
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <!-- Custom CSS -->
        <link href="css/heroic-features.css" rel="stylesheet">
    </head>
    <body>
        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/"><img class="img-responsive" src="homeLogo.png" alt="Home Logo" width="40" height="60"></a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="/about_us">About Us</a>
                        </li>
                        <li>
                            <a href="#">Sign Up</a>
                        </li>
                        <li>
                            <a href="#">Sign In</a>
                        </li>
                        <li>
                            <a href="/help">Help</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
                
            </div>
            <!-- /.container -->
        </nav>
        <div class="container">
            <img class="img-responsive" src="impilo.png" alt="Home Logo" width="300" height="350">
            <!-- Jumbotron Header -->
            <header class="jumbotron hero-spacer">
                <p2>WellnessShared is a plartform for Industrial Workers and the likes, <br>
                    the mission bieng to foster an online culture, <br>
                    that supports anyone's desire to make healthy lifestyle choices,<br>
                    enhancing personal to professional productivity,<br>
                on both physical and mental well-being. </p2>

                <div class="button_links">
                    <a class="btn btn-primary btn-medium">Sign In</a>
                    <a href="/questions" class="btn btn-default">Top Rated</a>
                    <a href="/activities" class="btn btn-default">Activities</a>
                    <a href="/ask_questions" class="btn btn-default">Ask A Question</a>
                </div>
            </header>
            {{{body}}}
        </div>

        <hr>
        <!-- Footer -->
        <!-- <div class= "container"> -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Health Watchers 2016</p>
                </div>
            </div>
        </footer>
        <!-- </div> -->
    </div>
    <!-- /.container -->
    <!-- jQuery -->
    <script src="js/jquery.js"></script>
    <script src="js/main.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
</body>
</html>
