<div class='container'>
	<h3>Our Mission<h3>
	<p><b>Impilo Enhle</b>
		– Zulu for good health.
	</p>
	<p>
		And then the mission that made us defect from About Us its ABOUT YOU.
		Can you promote a healthy lifestyle and share everything you know with world.
		These guys below came with the right idea, but what drove them.
	</p>
	<p>
		A friend died and something happened that made us realize that of marginalized<br>
		people out there that need to be involved in wellness programs and healthy lifestyle.
	</p>
	<p>
		So the about us is more about you, We say this because the guys on the photo below do not think its about them
	</p>
	<img class="img-responsive" src="about.jpg" alt="Dev Pic" width="800" height="800">
</div>
