<div class="container">
  <div class="panel panel-default" style="padding:10px; margin:0 auto;width:75%;">
    <div class="panel-heading">
      
      <h2 class="panel-title">Event Form</h2>
      
    </div>
    
    <div class="panel-body">
      
      <form name="contactform" method="post" class="form-horizontal" role="form">
        
        <div class="form-group">
          
          <label for="name">Your Name</label>
          
          <div class="input-group">
            
            <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span>
          </span>
          <input type="text" class="form-control" id="inputName" name="inputName" placeholder="First and Last Name">
          
        </div>
      </div>
      <div class="form-group">
        
        <label for="email"> Email Address</label>
        
        <div class="input-group">
          
          
          <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span>
        </span>
        
        <input type="text" class="form-control" id="inputEmail" name="inputEmail" placeholder="Your Email">
        
      </div>
    </div>
    
    <div class="form-group">
      <label for="subject">Organization/Company</label>
      <div class="input-group">
        
        <span class="input-group-addon"><span class="glyphicon glyphicon-briefcase"></span>
      </span>
      
      <input type="text" class="form-control" id="inputSubject" name="inputSubject" placeholder="Organization/Company Name">
      
    </div>
  </div>
  
  <div class="form-group">
    <label for="subject">Type of Event</label>
    <div class="input-group">
      
      <span class="input-group-addon"><span class="glyphicon glyphicon-glass"></span>
    </span>
    
    <input type="text" class="form-control" id="inputSubject" name="inputSubject" placeholder="Type of Event">
    
  </div>
</div>

<div class="form-group">
  <label for="subject">Date/Time</label>
  <div class="input-group">
    
    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
  </span>
  
  <input type="text" class="form-control" id="inputSubject" name="inputSubject" placeholder="Date/Time">
  
</div>
</div>

<div class="form-group">
<label for="subject">Phone Number</label>
<div class="input-group">
  
  <span class="input-group-addon"><span class="glyphicon glyphicon-earphone"></span>
</span>
<input type="text" class="form-control" id="inputSubject" name="inputSubject" placeholder="Phone Number">

</div>
</div>

<div class="form-group">

<label for="message">Additional Information</label>

<div class="input-group">

<span class="input-group-addon"><span class="glyphicon glyphicon-comment"></span>
</span>

<textarea class="form-control" rows="4" id="inputMessage" name="inputMessage" placeholder="Additional Info..."></textarea>
</div>
</div>


<button type="button" class="btn btn-primary">SUBMIT!</button>
</div>
</div>

</form>
</div>
</div>
</div>
</div>