<h3>Breathing problems</h3>
	<p> Hi guys, my friend recommended me that l would get the help l need from this site. Anyway l am a painter by proffession and have been doing for the past 10years, however with my job breathing chemicals is part of it but recently l have been having
	problems with my heart and breathing. Does anyone know what I can do?</p>
<br>
<h6><span style="bold">member: Zidane</span> Try milk</h6>
<p> try drinking milk after work and see a specialist in your area</p>
<br>
<h6><span style="bold">resident doctor</span> Heart Institute SA</h6>
<p> Visit Heart institute they are trying new trial and the can help you also visit <a href="http://heartfoundation.co.za/">heart institute</a> for more info</p>
<br>
<h6><span style="bold">member: Sibu</span> Talk to your employees</h6>
<p> Talk to your employees so you can do some work that require less chemicals</p>