<div class="container">
  <h3>Topics to ask about</h3>

<p>wellness shared is  for industrial workers people work under volitile situations.
  <ul>
<li>a specific health problem, or</li>
<li>an excersise club close to you, and </li>
<li>health institutions next to your area.</li></ul><br>
… then you’re in the right place to ask your question!
Please look around to see if your question <a href http://localhost:3000/questions>has been asked before.</a> It’s also OK to ask and <a href>answer your own question.</a> Questions which are too broad, unclear, incomplete or primarily opinion-based may be put on hold by the community until they are improved.
Click here for tips on <a href>how to ask good questions</a> that are likely to be well-received by the community and attract good answers.</p>
