<div class="container">
    <h3>How to ask a question</h3>
    <p>Welcome to WellnessShared. We would like to help you with all your questions but the reality is not every question can nbe answered. Below we have provided the guidelines to help you structure your question.
        <br>
        <h5><b>Be on-topic</b></h5> Our community is defined by a specific set of topics in the <a href="/help-center">help center</a> please stick to those topics and avoid asking for opinions or open-ended discussion.
        <br>
        <h5><b>Be specific</b></h5> If you ask a vague , you’ll get a vague answer. But if you give us details and context, we can provide a useful, relevant answer.Can view our tips on <a href="/help-tips">how to ask a good question.</a>
        <br>
        <h5><b>Make it relevant to others</b></h5> We like to help as many people at a time as we can. Make it clear how your question is relevant to more people than just you, and more of us will be interested in your question and willing to look into it.
        <br>
        <h5><b>Keep an open mind</b><h5>
The answer to your question may not always be the one you wanted, but that doesn’t mean it is wrong. A conclusive answer isn’t always possible. When in doubt, ask people to cite their sources, or to explain how/where they learned something. Even if we don’t agree with you, or tell you exactly what you wanted to hear, remember: we’re just trying to help.
 <p>
</div><br>
