<div class="container">
	<h3>Top Questions Asked</h3>
	<a href = "/answers">Breathing problems</a>
	<p>
		Hi guys, my friend recommended me that l would get the help l need from this site. Anyway l am a painter by proffession and have been doing for the past 10years, however with my job breathing chemicals is part of it but recently l have been having
		problems with my heart and breathing. Does anyone know where l can find an affordable specialist
	</p>
	<br>
	<a href = "">Chest pains</a>
	<p>
		My name is Isaac and l work for a construction company that is busy building a mega building by the WaterFront. l am the jackhammer operator and l've been recently having chest problems for 4months and l have been a jackhammer operator for almost
		7years. Does anyone know what could be the cause of my problem or if you know an affordable doctor who is a proffessional about heart check ups please drop me a comment, the help will be muchly appreciated. Thank you in advance
	</p>
	<br>
	<a href = "">Back pains</a>
	<p>
		My name is Isaac and l work for a construction company that is busy building a mega building by the WaterFront. l am the jackhammer operator and l've been recently having chest problems for 4months and l have been a jackhammer operator for almost
		7years. Does anyone know what could be the cause of my problem or if you know an affordable doctor who is a proffessional about heart check ups please drop me a comment, the help will be muchly appreciated. Thank you in advance
	</p>
	<br>
	<a href = "">Fatigue and Lethagy</a>
	<p>
		My name is Isaac and l work for a construction company that is busy building a mega building by the WaterFront. l am the jackhammer operator and l've been recently having chest problems for 4months and l have been a jackhammer operator for almost
		7years. Does anyone know what could be the cause of my problem or if you know an affordable doctor who is a proffessional about heart check ups please drop me a comment, the help will be muchly appreciated. Thank you in advance
	</p>
</div>