<!-- Page Content -->
<div class="container">
<<<<<<< Updated upstream

<hr>

<!-- Title -->
<div class="row">

</div>
<!-- /.row -->
<!-- Page Features -->
<div class="row text-center">
	<div class="col-md-3 col-sm-6 hero-feature">

	</div>
</div>
<!-- /.row -->
