<!-- Page Content -->
<div class="container">
	<img class="img-responsive" src="impilo.png" alt="Home Logo" width="300" height="350">
	<!-- Jumbotron Header -->
	<header class="jumbotron hero-spacer">
		<p2>WellnessShared is a plartform for Industrial Workers and the likes, <br>
			the mission bieng to foster an online culture, <br>
			that supports anyone's desire to make healthy lifestyle choices,<br>
			enhancing personal to professional productivity,<br>
		on both physical and mental well-being. </p2>
	
	<div class="button_links">
	    <a class="btn btn-primary btn-medium">Sign In</a>
		<a href="/questions" class="btn btn-default">Top Rated</a>
		<a href="#" class="btn btn-default">Activities</a>
		<a href="/ask_questions" class="btn btn-default">Ask A Question</a>
	</div>
</header>
<hr>
<!-- Title -->
<div class="row">
	
</div>
<!-- /.row -->
<!-- Page Features -->
<div class="row text-center">
	<div class="col-md-3 col-sm-6 hero-feature">
		
	</div>
</div>
<!-- /.row -->