<!-- Page Content -->
<div class="container">

    <img class="img-responsive" src="impilo.png" alt="Home Logo" width="300" height="350">

    <!-- Jumbotron Header -->
    <header class="jumbotron hero-spacer">
        <p2>WellnessShared is a plartform for Industrial Workers and the likes, <br>
          the mission bieng to foster an online culture, <br>
          that supports anyone's desire to make healthy lifestyle choices,<br>
          enhancing personal to professional productivity,<br>
          on both physical and mental well-being. </p2>
        <p><a class="btn btn-primary btn-medium">Sign In</a>
        </p>
    </header>

    <hr>

    <!-- Title -->
    <div class="row">
        <div class="col-lg-12">
            <h3>Latest Features</h3>
        </div>
    </div>
    <!-- /.row -->

    <!-- Page Features -->
    <div class="row text-center">

        <div class="col-md-3 col-sm-6 hero-feature">
            <div class="thumbnail">
                <img src="http://placehold.it/800x500" alt="">
                <div class="caption">
                    <h3>Top Rated</h3>
                    <p>To have a look at top rated questions and answers please click more info</p>
                    <p>
                        <a href="/questions" class="btn btn-default">More Info</a>
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-6 hero-feature">
            <div class="thumbnail">
                <img src="http://placehold.it/800x500" alt="">
                <div class="caption">
                    <h3>Activities</h3>
                    <p>Click more info to check if the is any group doing an exercise in you community</p>
                    <p>
                        <a href="#" class="btn btn-default">More Info</a>
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-6 hero-feature">
            <div class="thumbnail">
                <img src="http://placehold.it/800x500" alt="">
                <div class="caption">
                    <h3>Ask A Question</h3>
                    <p>Click more info to ask questions about health and you will get an answer as soon as possible</p>
                    <p>
                        <a href="/ask_questions" class="btn btn-default">Ask a question</a>
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-6 hero-feature">
            <div class="thumbnail">
                <img src="http://placehold.it/800x500" alt="">
                <div class="caption">
                    <h3>Join A Union</h3>
                    <p>Click more info to join a union</p>
                    <p>
                        <a href="#" class="btn btn-default">More Info</a>
                    </p>
                </div>
            </div>
        </div>

    </div>
    <!-- /.row -->
