<h3>How do I ask a good question?</h3>
<p>We’d love to help you. To improve your chances of getting an answer, here are some tips:<p><br>
<h5>b><Write a title that summarizes the specific problem</b><h5><br>
The title is the first thing potential answerers will see, and if your title isn't interesting, they won't read the rest. So make it count:
<b>Pretend you're talking to a busy colleague</b> and have to sum up your entire question in one sentence: what details can you include that will help someone identify and solve your problem? Include any unusual circumstances that make your question different from similar questions already on the site.
<br><b>Spelling, grammar and punctuation</b> are important! Remember, this is the first part of your question others will see - you want to make a good impression. If you're not comfortable writing in English, ask a friend to proof-read it for you.
If you're having trouble summarizing the problem, <br>write the title last</br> sometimes writing the rest of the question first can make it easier to describe the problem. 
